body{
    font-family: sans-serif
    color: #000000;
    background-color: #2b7a09;
}

h1{
    color: #105e3a;
    text-align: center;
    margin-top: 20px;
}

ol{
    list-style: none;
    font size: 20 px;
    background-color: #FFF;
    padding:20 px ;
    width:60%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #90A4AE;
}

li{
    margin-bottom: 10px;
    padding: 5px;
}
li:hover{
    background-color: #E1F5FE;
    border-radius: 3px;
}

a{
    text-decoration: none;
    color: #424242;
    vertical-align: middle;
}
input[type=text], input[type="number"]{
    font-size: 20px;
    background-color: #FFF;
    outline: none;
    border-style: none;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #90A4AE;
}
div{
    width: 60%;
    margin: 20px auto 0px auto; 
}
.pomodoro-estimate{
    font-weight: bold;
    color: #F44336;
    background-color: #F5F5F5;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
}
#add-new-todo-button{
    font-size: 20px;
    text-align: center;
    color: #FFF;
    outline: none;
    border-style: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 1px #90A4AE;
    display: block;
    background-color: #03A9F4;
    margin-top: 10px;
}
#add-new-todo-button:active{
    box-shadow: 1px 1px 1px #90A4AE;
}
.completed-todo{
 text-decoration: line-through;
}